<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ 'global.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'hero-banner.css' | asset_url }}">

    <link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}"/>
    <link rel="stylesheet" type="text/css" href="{{ "slick-theme.css" | asset_url }}"/>     
     

    {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 35, height: 35 }}">
    {%- endif -%}

    <title>VapeSter</title>

    {{ content_for_header }}

    <style>
        :root {
            --page-width: {{ settings.page_width }}px;
            --logo-width: {{ settings.logo_width }}px;
            --header-bg: rgba(41, 41, 41, 1);
            --bp: 960px;
            }     
    </style>  

</head>

<body>
    {% comment %} {% section "announcement-bar" %} {% endcomment %}
    {% section "header" %}
 

   

     <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
        {{ content_for_layout }} 
    </main>








    <script type="text/javascript" src="{{ "jquery-1.11.0.min.js" | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ "jquery-migrate-1.2.1.min.js" | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ "slick.min.js" | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ "carousel.js" | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ "jq.js" | asset_url }}" defer></script>
</body>
</html>



