<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} MY STYLES {% endcomment %}
    <link rel="stylesheet" href="{{ 'global.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'header.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'hero-banner.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'selling-points.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'collection-list.css' | asset_url }}"> 
    <link rel="stylesheet" href="{{ 'featured-collection.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'discount-banner.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'our-partners.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'new-arrivals.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'customer-feedback.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'newsletter.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'footer.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}"/>

     
    {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 35, height: 35 }}">
    {%- endif -%}

    <title>VapeSter</title>

    {{ content_for_header }}

    <style>
        :root {
            --page-width: {{ settings.page_width }}px;
            --logo-width: {{ settings.logo_width }}px;
            }     
    </style>  

</head>

<body style="overflow-x: hidden;">
 
    {% section "header" %}
 
     <main role="main"  style="max-width: 1920px;">
        {{ content_for_layout }} 
    </main>

    {% section "footer" %}



    <script src="{{ 'swiper-bundle.min.js' |  asset_url }}"></script>
    <script src="{{ 'featuredCarousel.js' |  asset_url }}"></script>
    <script src="{{ 'ourPartners.js' | asset_url }}"></script>
    <script src="{{'customer-feedback.js' | asset_url }}"></script>
  
  
 
</body>
</html>



