<div class="about-us-main-content">


    <div class="about-us-mason-container">
        <div class="about-us-masonary-center">
            <div class="about-us-mason-column">
                <div class="about-us-mason-image imgOne">
                    <img src="https://cdn.shopify.com/s/files/1/0573/4698/2019/files/aboutus1-copyright.jpg?v=1705916785"
                        width="100" height="100" alt="team">
                </div>
                <div class="about-us-mason-image imgTwo">
                    <img src="https://cdn.shopify.com/s/files/1/0573/4698/2019/files/aboutus3-copyright-min.jpg?v=1705916785"
                        width="100" height="100" alt="team">
                </div>
            </div>

            <div class="about-us-mason-column">
                <div class="about-us-mason-image imgThree">
                    <img src="https://cdn.shopify.com/s/files/1/0573/4698/2019/files/aboutus2-copyright-min.jpg?v=1705916785"
                        width="100" height="100" alt="team">
                </div>
                <div class="about-us-mason-image imgFour">
                    <img src="https://cdn.shopify.com/s/files/1/0573/4698/2019/files/aboutus4-copyright-min.jpg?v=1705916785"
                        width="100" height="100" alt="team">
                </div>
            </div>
        </div>
    </div>




    <div class="about-us-text-content">

        <p class="about-us-text-title">Your One-Stop Vape Shop</p>

        <p class="about-us-text-body">Welcome to Vapester! Founded in 2013, vel magna pellentesque, dignissim non
            turpis, pulvinar eget rutrum
            sapien. Fusce ipsum et lobortis, mattis neque nec a viverra. Donec vehicula elit sed justo a cursus
            pulvinar. Proin quis maximus nisi. Vestibulum a ultricies orci. Maecenas id tempor diam, in commodo mauris.
            Praesent turpis et faucibus, tellus</p>
        <br>
        <p class="about-us-text-body">ullamcorper ac vehicula ante. Aliquam id orci auctor, tristique sapien eu, cursus
            mi. Nulla aliquet turpis,
            tincidunt a faucibus in, fermentum vel ligula. Mauris urna elit, faucibus nec auctor quis, aliquam purus.
            Aliquam quis ex at lorem facilisis dictum vel vitae odio.</p>
        <br>
        <p class="about-us-text-body">Vivamus ultrices, enim sed laoreet congue, leo lorem finibus urna, ac rutrum justo
            leo massa. Quisque dictum
            a pulvinar et faucibus. Proin nisl dolor, volutpat eget lacinia sit amet, convallis at odio. Aenean varius,
            elit tristique posuere dapibus, nisi ex aliquet erat, at viverra orci arcu quis neque. Morbi ipsum dui,
            fringilla id magna non, eleifend efficitur mi. Donec gravida ac ex vel molestie. Proin rutrum tortor vitae
            dolor volutpat, at tincidunt velit tristique. Nam id sapien dui. Aenean scelerisque erat erat, a imperdiet
            mi rhoncus nec.</p>
        <br>

        <div class="about-us-social-container">
            <img class="social-icon" src="{{ 'telegram.png' |  asset_url }}" width="100" height="100" alt="telegram logo">
            <img class="social-icon" src="{{ 'twitter.png' |  asset_url }}" width="100" height="100" alt="twitter logo">
            <img class="social-icon" src="{{ 'instagram.png' |  asset_url }}" width="100" height="100" alt="instagram logo">
            <img class="social-icon" src="{{ 'tiktok.png' |  asset_url }}" width="100" height="100" alt="tiktok logo">
            <img class="social-icon" src="{{ 'facebook.png' |  asset_url }}" width="100" height="100" alt="facebook logo">
        </div>

    </div>









</div>





{% schema %}
{
"name": "About us",
"tag": "section",
"class": "about-us__main-container section page-width",
"settings": [],
"presets" : [{"name" : "About us"}]
}
{% endschema %}