
  {% if section.settings.heading != blank %}
    <h3 class="section-heading">{{ section.settings.heading | strip_html }}</h3>
  {% endif %}

  <div class="collection-content">

      {% for block in section.blocks %}
         
          <div class="collection__main-container" >

            <a href="{{ block.settings.collection.url }}"> 

              <div class="collection__main-image-container ">
                <img
                  class="image"
                  src="{{ block.settings.collection.featured_image | image_url }}"
                  loading="eager"
                  height="100"
                  width="100"
                >
              </div>

              <div class="collection__main-container-heading">
                <h3 class="image-collection-title">{{ block.settings.collection.title | strip_html }}</h3>
              </div>

              <div
                class="collection-image-overlay"
                style="background-color:{{ block.settings.collection_image_overlay_color }}"
              ></div>
              
            </a> 
            
          </div>
       
      {% endfor %}

  </div>



{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Collection list title"
    }
  ],
  "tag": "section",
  "class": "collection-list__main-container section page-width",
  "presets": [{ "name": "Collection list" }],
  "limit": 1,
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Collection",
      "type": "collection_item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "color",
          "id": "collection_image_overlay_color",
          "label": "Collection image overlay color"
        }
      ]
    }
  ]
}
{% endschema %}
