
  <div class="customer-review-content" >
      <img
        src="{{ section.settings.background_image | image_url }}"
        loading="lazy"
        height="100"
        width="100"
        class="image review-background-image"
      >   
        <div class="reviewSwiper"> 

          <div class="swiper-wrapper">
            {% for block in section.blocks %}
              <div class="swiper-slide reviewSlide">
                <p class="reviewSlide-body-text">{{ block.settings.body_text | strip_html }}</p>
                <p class="reviewSlide-reviewer-text">{{ block.settings.reviewer | strip_html }}</p>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

    <div class="customer-feedback-heading" style="">
      {% if section.settings.section_heading != blank %}
        <h4>{{ section.settings.section_heading | strip_html }}</h4>
      {% endif %}
    </div> 

  </div>


  <div  class="newsletter-content" >

 
      <img class="image" src="{{ section.settings.newsletter_background | image_url }}" width="100" height="100" loading="lazy">


    <div class="newsletter-heading">
      <h4>{{ section.settings.newsletter_title | strip_html }}</h4>
       <p>{{ section.settings.newsletter_body_text | strip_html }}</p> 
    <div> 

     <div style="margin-top: 5rem; display: flex; flex-direction: column; gap: 2rem; padding: 2rem;">
      <input type="email" placeholder="Enter email address">
      <button type="button">SUBSCRIBE<button>
    </div> 

  </div>
 








{% schema %}
{
  "name": "Customer reviews",
  "settings": [
    {
      "type": "richtext",
      "id": "section_heading",
      "label": "Section heading"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type" : "richtext",
      "id": "newsletter_title",
      "label": "Newsletter title" 
    },
    {
      "type": "image_picker",
      "id": "newsletter_background",
      "label": "Newsletter background image"
    },
    {
      "type": "textarea",
      "id": "newsletter_body_text",
      "label": "Newsletter body text"
    }
  ],
  "tag": "section",
  "class": "customer-review__main-container section page-width",
  "presets": [{ "name": "Customer review" }],
  "max_blocks": 25,
  "blocks": [
    {
      "name": "Customer review",
      "type": "customer_review",
      "settings": [
        {
          "type": "textarea",
          "id": "body_text",
          "label": "Review"
        },
        {
          "type": "text",
          "id": "reviewer",
          "label": "Customer Name"
        }      
      ]
    }
  ]
}
{% endschema %}
