<div class="discount-banner__main-container ">
  <h3 class="section-heading">{{ section.settings.heading | strip_htm }}</h3>




  <div class="discount-banner__display-container">
    {% for block in section.blocks %}
        <a href="{{ block.settings.collection.url }}">
    <div class="collection__main-container">
      <div class="collection__main-image-container ">
        <img
          class="image"
          src="{{ block.settings.collection.featured_image | image_url }}"
          loading="lazy"
          height="100"
          width="100"
        >
      </div>

      <div class="collection__main-container-heading">
        <h3 class="image-collection-title">{{ block.settings.collection.title | strip_html }}</h3>
      </div>

      <div
        class="collection-image-overlay"
        style="background-color:{{ block.settings.collection_image_overlay_color }}"
      ></div>
    </div>
  </a>
{% endfor %}
    
    <div>

    </div>





  </div>





</div>

{% schema %}
{
  "name": "Discount banner",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section title"
    }
  ],
  "limit": 2,
  "class": "discount-banner__section",
  "tag": "section",
  "presets": [{ "name": "Discount banner" }],
  "max_blocks": 4,
  "blocks": [
    {
      "name": "Discount",
      "type": "discount",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
            "type": "text",
            "id": "body_text",
            "label": "Discount details"
        },
        {
            "type": "richtext",
            "label": "Discount heading",
            "id": "discount_heading"
        }
      ]
    }
  ]
}
{% endschema %}
