<div class="section-featured-collection page-width">

  <div class="featured-collection-heading-container">

    {% if section.settings.title_subtext != blank %}
      <p class="featured-subheading">{{ section.settings.title_subtext | strip_html }}</p>
    {% endif %}
    {% if section.settings.section_title == blank %}
      <h3 class="section-heading">{{ collections['best-sellers'].title | strip_html }}</h3>
    {% else %}
      <h3 class="section-heading">{{ section.settings.section_title | strip_html }}</h3>
    {% endif %}

  </div >

  <div class="featured">

    {% for product in collections['best-sellers'].products %}
      <div class="featured-collection-content ">
 
          <a href="{{ product.url }}">
            <div class="featured-collection__image-container">
              <img class="image" src="{{ product.featured_image | image_url }}" loading="lazy" width="100" height="100">
            </div>
          </a>

          <div class="featured-collection__info-container">
            <p class="product-title">{{ product.title | link_to: product.url | strip_html }}</p>
            <p class="product-price"><span style="color: black;"> {% render 'icon-cash-black' %}</span> {{ product.price | money | strip_html }}</p>
          </div>
     
      </div>
    {% endfor %}
    
  </div>

</div>

<script></script>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "richtext",
      "id": "section_title",
      "label": "Section title"
    },
    {
      "id": "title_subtext",
      "type": "textarea",
      "label": "Section description"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    }
  ],
  "presets": [{ "name": "Featured collection" }],
  "tag": "section",
  "class": "featured-collection__main-container",
  "limit": 1
}
{% endschema %}
