
<div class="footer-alt">
  <div class="footer-width page-width section">
    <div class="footer-top">

      {% for block in section.blocks %}

          {% if block.type == 'navigation' %}
            
            <div class="footer-column footer-column--nav">
              <h2>{{ block.settings.linkList.title }}</h2>      
              {% for link in block.settings.linkList.links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %} 
            </div>

          {% elsif block.type == 'text' %}
            <div class="footer-column footer-column--text">
              <h2>{{ block.settings.heading }}</h2>
              {{block.settings.text}}   
            </div>

          {% elsif block.type == 'newsletter' %}
            <div class="footer-column footer-column--news">
                <h2>{{ block.settings.heading }}</h2>
                {{block.settings.text}}  
                <form>
                  <input type="email" placeholder="Email address"/>
                  <button type="submit">Subscribe</button>
                </form> 
            </div>

            {% elsif block.type == 'collection' %}
              {% assign paymentCollectionHandle = block.settings.collection %}
              {% assign paymentCollection = collections[paymentCollectionHandle] %}
            
              {% if paymentCollection %}
                <div class="footer-column footer-column--image">
                  <h5 style="margin-bottom: 1rem;">{{ paymentCollection.title }}</h5>
                  <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem;">
                    {% for product in paymentCollection.products %}
                      <img src="{{ product.featured_image | image_url }}" alt="{{ product.title }}" width="80" height="80"/>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
              

        {% endif %}
      {% endfor %}  
  </div>

   <div class="footer-bottom">
      <p id="scrollToTopBtn" style="cursor: pointer;">SCROLL TO TOP</p>
    </div> 

  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get the button
    var scrollToTopBtn = document.getElementById("scrollToTopBtn");

    scrollToTopBtn.addEventListener("click", function () {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    });
  });
</script>

{% schema %}
{
  "name": "Footer",
  "tag" : "footer",
  "class": "footer-section__main-container",
  "settings": [
    {
      "id": "copyright",
      "label": "Copyright-text",
      "type": "text"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "NewsLetter",
      "type" : "newsletter",
      "settings": [
        {
          "id" : "heading",
          "type" : "text",
          "label" : "Heading text"

        },
        {
          "id" : "text",
          "type" : "richtext",
          "label" : "Body text"
        }
      ]
    },
    {
      "name": "payment providers",
      "type" : "collection",
      "settings": [
       
        {
          "id" : "collection",
          "type" : "collection",
          "label" : "Payment providers"

        }
      ]
    },
    {
      "name" : "Text",
      "type" : "text",
      "settings" : [
        {
          "id" : "heading",
          "type" : "text",
          "label" : "Heading text"
        },
        {
          "id" : "text",
          "type" : "richtext",
          "label" : "Body text"
        }
      ]
    },
    {
      "name": "Navigation column",
      "type": "navigation",
      "settings": [
        {
          "type": "link_list",
          "id": "linkList",
          "label": "Navigation menu"
        }
      ]
    }
  ]
}
{% endschema %}



{% javascript %}
{% endjavascript %}