

<div class="header-section">
  {% comment %} UPPER HEADER {% endcomment %}
  <div class="header-top">

    <div class="page-width header-top-container">
      {% comment %} logo container {% endcomment %}   
        <div class="logo-container  bg-logo-background relative">
          {%- if settings.logo != blank -%}
            <a href="/" class="header-logo-link">
              <img loading="eager" class="logo" src="{{ settings.logo |  image_url: width: settings.logo_width }}" alt="{{ shop.name }}" width="100" height="100">
            </a>
          {%- else -%}
            <h1>{{ shop.name }}</h1>
          {%- endif -%}
        </div> 

        <div class="header-top-container-content">

          <div class="" style="color: white; display: flex; gap: .5rem; font-size: 1.1rem">
              <p id="heading" >Call Us:</p>
              <p>+1 800 820 20 20</p>
          </div>

          <div class="header-search-container bg-logo-background" style="display: flex; gap: 10px; align-items: center; padding: 1rem;">
              {% render 'icon-search' %}
              <input style="width: 200px" placeholder="Search Products..." type="text"/>
          </div>

          <div class="header-cart-container" >
            {% render 'icon-cart' %}
          </div>
         
        </div>
    </div>

   
  </div>

  {% comment %} LOWER HEADER - nav menu {% endcomment %}
  <div class="header-bottom page-width ">
    <ul class="header-nav">
      {% assign current_path = request.path %}
      {% for link in linklists['main-menu'].links %}
        <li class="nav-item {% if current_path == link.url %} active{% endif %}">
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <p class="menu-button">Categories</p>

    <div class="head-accent menu-button">
      <h1 class="heading">VAPOR</h1>
    </div>
    
  </div>

</div>


<script>
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header__main",
  "settings": [

  ]
}
{% endschema %}
