<div class="header-top">
  <div class="page-width header-top-container">
    {% comment %} logo container {% endcomment %}
    <div class="logo-container">
      {%- if settings.logo != blank -%}
      <a href="/" class="header-logo-link">
        <img loading="eager" class="logo" src="{{ settings.logo | image_url: width: settings.logo_width }}"
          alt="{{ shop.name }}" width="100" height="100">
      </a>
      {%- else -%}
      <h1>{{ shop.name }}</h1>
      {%- endif -%}
    </div>

    <div class="header-top-container-content">
      <form class="header-search-container" action="/search">
        {% render 'icon-search' %}
        <input class="search-input" style="width: 100%" placeholder="Search Products..." type="search" name="q" />
      </form>

      <a href="/cart">
        {% render 'icon-cart' %}
      </a>
    </div>
  </div>
</div>
<input type="checkbox" id="toggle-menu" style="display: none;" />
{% comment %} LOWER HEADER - NAV MENU {% endcomment %}


<nav class="header-bottom page-width">
  <div class="header-bottom-content-container">
    <ul id="nav-menu" class="header-nav">
      {% assign current_path = request.path %}
      {% for link in linklists['main-menu'].links %}

      <li class="header-nav-item {% if current_path == link.url %} active{% endif %}" style="display: flex; gap: .2rem; align-items: center">
        <a class="header-nav-anchor" href="{{ link.url }}">
          {{ link.title }}
        </a>

        {% if link.links != blank %}
          {% render 'icon-chevron' %}
        <ul class="header-nav-sub">
          {% for child in link.links %}
          <li class="nav-item-sub {% if current_path == link.url %} active{% endif %}">
            <a href="{{ child.url }}" class="header-nav-sub-anchor">{{ child.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
  </div>
  <label class="hamburger" for="toggle-menu">
    {% render 'burger-menu' %}
  </label>
</nav>

<div class="nav-menu-overlay"></div>




{% schema %}
{
"name": "Header",
"tag": "header",
"class": "header__main-container",
"settings": []
}
{% endschema %}