

  <div class="header-top">

    <div class="page-width header-top-container" >

      {% comment %} logo container {% endcomment %}   
        <div class="logo-container  bg-logo-background relative">
          {%- if settings.logo != blank -%}
            <a href="/" class="header-logo-link">
              <img loading="eager" class="logo" src="{{ settings.logo | image_url: width: settings.logo_width }}" alt="{{ shop.name }}" width="100" height="100">
            </a>
          {%- else -%}
            <h1>{{ shop.name }}</h1>
          {%- endif -%}
        </div>  
        
        <div class="header-top-container-content">

          <div class="" style="color: white; display: flex; gap: .5rem; font-size: 1.1rem; display: none">
              <p id="heading" >Call Us:</p>
              <p>+1 800 820 20 20</p>
          </div>

          <div class="header-search-container bg-logo-background" >
              {% render 'icon-search' %}
              <input style="width: 200px" placeholder="Search Products..." type="text"/>
          </div>


          {% render 'icon-cart' %}
         
        </div> 

    </div>

   
  </div>

  <input type="checkbox" id="toggle-menu" style="display: none;"/>
 

  {% comment %} LOWER HEADER - NAV MENU {% endcomment %}
  <nav class="header-bottom page-width">
    <div class="header-bottom-content">

      <ul id="nav-menu" class="header-nav">
        {% assign current_path = request.path %}
        {% for link in linklists['main-menu'].links %}
          <li class="nav-item {% if current_path == link.url %} active{% endif %}">
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
    
    <label class="hamburger" for="toggle-menu">
      {% render 'burger-menu' %}
    </label>
  </nav>

  <div class="nav-menu-overlay"></div> 



  <script>
    // prevent screen from being scrollable when menu is open
    const toggleMenu = document.getElementById('toggle-menu');
    toggleMenu.addEventListener('change', function() {
        document.body.style.overflowY = this.checked ? 'hidden' : 'auto';
    });
  </script>



  {% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header__main-container",
    "settings": []
  }
  {% endschema %}
