
 <div id="imageContainer" style="width: 100%; height: 390px; overflow: hidden;">

    <div id="pair1" style="display: flex; width: 100%; height: 100%; position: relative;">

        <div class="img-cont" style=" position: relative; left: 0; min-width: 50%; height: 100%">
            <img class="image" src="{{ 'banner-1-copyright.jpg' | asset_url }}" loading="eager" width="100" height="100" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

        <div class="img-cont" style=" position: absolute; left: 50%; max-width: 50%; height: 100%; z-index: -10;">
            <img class="image" src="{{ 'image.png' | asset_url }}" loading="eager" width="100" height="100" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

    </div>

</div> 

 {% comment %} <div class="fade"  style="width: 100%; height: 500px; border: 1px solid black overflow:hidden; border: 1px solid black; overflow:hidden">
    <div id="pair1" style="display: flex; width: 100%; height: 100%; position: relative; overflow:hidden;">

        <div class="img-cont" style=" position: relative; left: 0; min-width: 50%; height: 100%; overflow:hidden">
            <img class="image" src="{{ 'banner-1-copyright.jpg' | asset_url }}" loading="eager" width="100" height="100" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

        <div class="img-cont" style=" position: absolute; left: 50%; max-width: 50%; height: 100%; z-index: -10; overflow:hidden">
            <img class="image" src="{{ 'image.png' | asset_url }}" loading="eager" width="100" height="100" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        

    </div>

    <div id="pair1" style="display: flex; width: 100%; height: 100%; position: relative; overflow:hidden;">

        <div class="img-cont" style=" position: relative; left: 0; min-width: 50%; height: 100%; overflow:hidden">
            <img class="image" src="{{ 'banner-2-copyright.jpg' | asset_url }}" loading="eager" width="100" height="100" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

        <div class="img-cont" style=" position: absolute; left: 50%; max-width: 50%; height: 100%; z-index: -10; overflow:hidden">
            <img class="image" src="{{ 'image-purple.png' | asset_url }}" loading="eager" width="100" height="100" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        

    </div>

    <div id="pair1" style="display: flex; width: 100%; height: 100%; position: relative; overflow:hidden;">

        <div class="img-cont" style=" position: relative; left: 0; min-width: 50%; height: 100%; overflow:hidden">
            <img class="image" src="{{ 'banner-3-copyright.jpg' | asset_url }}" loading="eager" width="100" height="100" style="width: 100%; height: 100%; object-fit: cover;">
        </div>

        <div class="img-cont" style=" position: absolute; left: 50%; max-width: 50%; height: 100%; z-index: -10; overflow:hidden">
            <img class="image" src="{{ 'image-red.png' | asset_url }}" loading="eager" width="100" height="100" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        

    </div>
  
</div>  {% endcomment %}








<style>

</style> 

<script>
  
</script>

{% schema %}
    {
      "name": "Hero",
      "tag": "section",
      "class": "hero__main",
      "settings": [
    
      ],
      "presets": [
        {
          "name": "image-banner",
          "blocks": [
          ]
        }
      ]
    }
{% endschema %}



