{% comment %} product page banner {% endcomment %}
<div class="product__banner">

  <img src="{{ section.settings.banner-image |  image_url }}" alt="Vapour cloud image" width="100" height="100"
    class="image" loading="eager">
  <div class="image-overlay"></div>

  <div class="product__banner-title-container">
    <div class="page-width">
      <h1><span class="product__banner-heading">{{ product.title }}</span></h1>
      {% if product.metafields.custom.title_tag %}
      <p class="product__banner-subheading">{{ product.metafields.custom.title_tag }}</p>
      {% endif %}
    </div>
  </div>

</div>

<div class="product-page__main-container section page-width">

  {% comment %} product page carousel {% endcomment %}
  <div class="product-page__main-inner-container">
    <div class="swiper mySwiper2" style="margin-bottom: 2rem;">
      <div class="swiper-wrapper">
        {% for image in product.images %}
        {% if product.featured_image and image.id == product.featured_image.id %}
        {% continue %}
        {% endif %}
        <div class="swiper-slide">
          <div class="product-card-image-container">
            <img src="{{ image.src | image_url : width: 500 }}" alt="{{ product.title | escape }}" width="100"
              height="100" loading="eager">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div thumbsSlider="" class="swiper mySwiper" style="max-width: 500px; min-width: 260px;">
      <div class="swiper-wrapper">
        {% if product.variants.size > 1 %}
        {% for variant in product.variants %}
        {% if product.featured_image and variant.id == product.featured_image.id %}
        {% continue %}
        {% endif %}
        <div class="swiper-slide">
          <div class="product-card-image-container" style="width: 100%; overflow: hidden;">
            <img src="{{ variant.featured_image.src | image_url: width: 200 }}" alt="{{ product.title | escape }}"
              width="100" height="100" loading="lazy">
          </div>
          <p style="text-align: center; color: black;">{{ variant.title }}</p>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>


  {% comment %} Product info {% endcomment %}
  <div class="product-page-main-content">
    <span class="product-page-content-product-title font-product-info">{{ product.title | strip_html }}</span>
    <div class="product-page-price-container">

      <div>
        <span class="compare-at-price"></span>
      </div>
      <div class="product-page-actual-price-container">
        {% render 'icon-cash-black' %}
        <span class="actual-price"></span>
      </div>
    </div>

    <div class="metafield-tagline metafield-body-text font-product-info">
      {{ product.metafields.custom.product_tagline }}
    </div>

    <div>
      {% form 'product', product %}
      <div class="product-page-form">
        <p class="product-page-select-label">{{ product.options[0] | upcase }}</p>
        <select name="id" id="variant-id" class="product-page-select">
          {% for variant in product.variants %}
          <option class="product-page-select-option" data-compare-at-price="{{ variant.compare_at_price | money }}"
            data-price="{{ variant.price | money }}" value="{{ variant.id }}" data-title="{{ variant.title }}"
            data-color="{{ variant.option1 }}">
            {{ variant.title }}
          </option>
          {% endfor %}
        </select>
      </div>

      <p class="product-page-quantity-label">QUANTITY</p>

      <div class="product-page-quantity-container">
        <button class="quantity-button decrement" type="button">-</button>
        <div class="quantity-input"><span class="quantity-display">1</span></div>
        <input name="quantity" class="quantity-input-value" type="text" min="1" value="1" style="display: none;">
        <button class="quantity-button increment" type="button">+</button>
      </div>

      <p class="product-page-product-selected">Product selected: x<span class="selected-amount">1</span> <span
          class="product-page-variant-title"></span></p>

      <div class="product-page-cart-btn-container">
        <button type="submit">Add to cart</button>
        <button type="button" class="product-page-btn-checkout">CHECKOUT</button>
      </div>
      <p class="added-to-cart-display" style="display: none;">PRODUCT ADDED</p>
      {% endform %}
     
    </div>

    <div class="metafield-body-text metafield-body-text-lower" style="width: 100%;">
      {% comment %} <span>Details</span> {% endcomment %}
      {{ product.description }}
    </div>
  </div>
</div>






<style>
  .swiper {
    margin: 0;
    width: 100%;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide:hover {
    width: 25%;
    height: 100%;
    opacity: 1;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<script>

</script>



{% schema %}
{
"name": "Main product",
"class": "product__main-container",
"tag": "section",
"settings": [
{
"type": "image_picker",
"id": "banner-image",
"label": "Banner background"
}
],
"presets": [{ "name": "Default" }],
"blocks": [
{
"name": "Price",
"type": "price",
"settings": []
},
{
"name": "Description",
"type": "description",
"settings": []
},
{
"name": "Quantity",
"type": "quantity",
"settings": []
},
{
"name": "Variant_selector",
"type": "variant_selector",
"settings": []
},
{
"name" : "Related products",
"type" : "related_products",
"settings" : []
}
]
}
{% endschema %}