{% assign selectedVariant = product.selected_or_first_available_variant %}

<div class="product__banner page-width" style="position: relative; height: 330px; border: 1px solid black;">
  <img
    src="{{ section.settings.banner-image |  image_url }}"
    alt="Vapour cloud image"
    width="100"
    height="100"
    class="image"
    loading="eager"
  >
  <div class="product__banner-title-container">
    <h1 class="product__banner-heading">{{ product.title }}</h1>
  </div>
</div>


<div class="product-page__main-container page-width" style="display: flex; gap: 2rem; margin-bottom: 4rem;">
  <div
    class="product-page__main-inner-container" style="max-width: 500px; min-width: 260px;"
  >
    <div class="swiper mySwiper2" style="; margin-bottom: 2rem;">
      <div class="swiper-wrapper">
        {% for image in product.images %}
        {% if product.featured_image and image.id == product.featured_image.id %}
            {% continue %}
        {% endif %}
          <div class="swiper-slide">
            <div class="product-card-image-container">
              <img src="{{ image.src | image_url : width: 500  }}" alt="{{ image.alt | escape }}">
            </div>
          </div>
        {% endfor %}
      </div>
      {% comment %} <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> {% endcomment %}
    </div>

    <div thumbsSlider="" class="swiper mySwiper" style="max-width: 500px; min-width: 260px;">
        <div class="swiper-wrapper">
          {% if product.variants.size > 1 %}
            {% for variant in product.variants %}
              {% if product.featured_image and variant.id == product.featured_image.id %}
                {% continue %}
              {% endif %}
              <div class="swiper-slide">
                <div class="product-card-image-container" style="width: 100%; overflow: hidden;">
                  <img src="{{ variant.featured_image.src | image_url: width: 500 }}" alt="{{ variant.featured_image.alt | escape }}">
                </div>
                <p style="text-align: center; color: black;">{{ variant.title }}</p>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      
  </div>

  <div style="width: 100%; padding: 0rem 2rem;">
    {% comment %} {% if product.compare_at_price %}
        <p>{{ product.compare_at_price | money }}</p>
    {% endif %} {% endcomment %}

    {% comment %} <p>{{ product.price | money }}</p> {% endcomment %}
   
    {% form 'product', product %}
        {% assign variantType = 'option1' %}
        <div>{{ product.options[0] }}</div>
      <select name="id" id="variant-id" class="product-page-select">
        {% for variant in product.variants %}
          <option 
          class="product-page-select-option"
          data-compare-at-price="{{ variant.compare_at_price | money }}"
          data-price="{{ variant.price | money }}"
          value="{{ variant.id }}"
          data-title="{{ variant.title }}"
          data-color="{{ variant.option1 }}"
          >
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>
      
    <div class="quantity-container">
        <button class="quantity-button decrement" type="button">-</button>
        <div class="quantity-input"><span>1</span></div>
        <input name="quantity" class="quantity-input" type="text" min="1" value="1" style="display: none;">
        <button class="quantity-button increment" type="button">+</button>
    </div>

      <div class="compare-at-price"></div>
      <div class="actual-price"></div>
      <div class="variant-title"></div>

      <button type="submit">go to cart</button>
      {% comment %} <button type="button" onclick="addToCart()" style="padding: 1rem; border: 1px solid black;">add to cart</button> {% endcomment %}
    {% endform %}

    <div>
  {{ product.description }}
</div>

  </div>
</div>


<style>
  
  .swiper {
    margin: 0;
    width: 100%;  
  }
  .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
      opacity: 0.4;
    }
    .mySwiper .swiper-slide:hover {
      width: 25%;
      height: 100%;
      opacity: 1;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

</style>

<script>
     document.addEventListener('DOMContentLoaded', function () {
      const variantSelect = document.getElementById('variant-id');
      const compareAtPriceElement = document.querySelector('.compare-at-price');
      const actualPriceElement = document.querySelector('.actual-price');
      const variantTitleElement = document.querySelector('.variant-title');
      

      // Set initial values based on the first option
      const defaultOption = variantSelect.options[0];
      const defaultCompareAtPrice = defaultOption.getAttribute('data-compare-at-price');
      const defaultPrice = defaultOption.getAttribute('data-price');
      const defaultTitle = defaultOption.getAttribute('data-title');

      // Display default compare_at_price if available
      if (defaultCompareAtPrice) {
        compareAtPriceElement.textContent = defaultCompareAtPrice;
        compareAtPriceElement.style.display = 'block';
      } else {
        compareAtPriceElement.style.display = 'none';
      }

      // Display the default actual price and variant title
      actualPriceElement.textContent = defaultPrice;
      variantTitleElement.textContent = defaultTitle;

      variantSelect.addEventListener('change', function () {
        const selectedOption = variantSelect.options[variantSelect.selectedIndex];
        const compareAtPrice = selectedOption.getAttribute('data-compare-at-price');
        const price = selectedOption.getAttribute('data-price');
        const title = selectedOption.getAttribute('data-title');

        // Display compare_at_price if available
        if (compareAtPrice) {
          compareAtPriceElement.textContent = compareAtPrice;
          compareAtPriceElement.style.display = 'block';
        } else {
          compareAtPriceElement.style.display = 'none';
        }

        // Display the actual price and variant title
        actualPriceElement.textContent = price;
        variantTitleElement.textContent = title;
      });
    });
</script>



{% schema %}
{
  "name": "Main product",
  "class": "product__main-container",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner-image",
      "label": "Banner background"
    }
  ],
  "presets": [{ "name": "Default" }],
  "blocks": [
    {
      "name": "Price",
      "type": "price",
      "settings": []
    },
    {
      "name": "Description",
      "type": "description",
      "settings": []
    },
    {
      "name": "Quantity",
      "type": "quantity",
      "settings": []
    },
    {
      "name": "Variant_selector",
      "type": "variant_selector",
      "settings": []
    }
  ]
}
{% endschema %}
