{% comment %} product page banner {% endcomment %}
<div class="product__banner" style="position: relative; height: 330px; border-top: 3px solid var(--header-bg); border-bottom: 3px solid var(--header-bg)">

  <img src="{{ section.settings.banner-image |  image_url }}" alt="Vapour cloud image" width="100" height="100"
    class="image" loading="eager">
  <div class="product__banner-title-container">
    <div class="page-width">
      <h1 class="product__banner-heading">{{ product.title }}</h1>
      {% if product.metafields.custom.title_tag %}
      <p class="product__banner-subheading">{{ product.metafields.custom.title_tag }}</p>
      {% endif %}
    </div>
  </div>

</div>

<div class="product-page__main-container section page-width"
  style="display: flex; gap: 2rem; margin-bottom: 0rem; ">

  {% comment %} product page carousel {% endcomment %}
  <div class="product-page__main-inner-container" style="max-width: 500px; min-width: 260px;">
    <div class="swiper mySwiper2" style="; margin-bottom: 2rem;">
      <div class="swiper-wrapper">
        {% for image in product.images %}
        {% if product.featured_image and image.id == product.featured_image.id %}
        {% continue %}
        {% endif %}
        <div class="swiper-slide">
          <div class="product-card-image-container">
            <img src="{{ image.src | image_url : width: 500 }}" alt="{{ product.title | escape }}" width="100"
              height="100" loading="eager">
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div thumbsSlider="" class="swiper mySwiper" style="max-width: 500px; min-width: 260px;">
      <div class="swiper-wrapper">
        {% if product.variants.size > 1 %}
        {% for variant in product.variants %}
        {% if product.featured_image and variant.id == product.featured_image.id %}
        {% continue %}
        {% endif %}
        <div class="swiper-slide">
          <div class="product-card-image-container" style="width: 100%; overflow: hidden;">
            <img src="{{ variant.featured_image.src | image_url: width: 200 }}" alt="{{ product.title | escape }}"
              width="100" height="100" loading="lazy">
          </div>
          <p style="text-align: center; color: black;">{{ variant.title }}</p>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>


  {% comment %} Product info {% endcomment %}
  <div style=" width: 100%; padding: 2rem 2rem; display: flex; flex-direction: column; gap: 1rem; border: 3px solid lightgray">

    <div class="product-page-price-container" style="display: flex; gap: .5rem; align-items: center;  ">
      <div>
        <span class="compare-at-price" style="font-size: 2rem; text-decoration: line-through; "></span>
      </div>
      <div style="display: flex; align-items: center;">
        {% render 'icon-cash-black' %}
        <span class="actual-price" style="font-size: 3.5rem; color: var(--clr-red); font-weight: bold;"></span>
      </div>
    </div>

    <div class="metafield-tagline metafield-body-text">
      {{ product.metafields.custom.product_tagline }}
    </div>

    <div style="  ">
    {% form 'product', product %}
    <div style="display: flex; flex-direction: column;  margin-bottom: 1rem;">
      <p class="product-options" style="font-size: 1.25rem; margin-bottom: .35rem; ">{{ product.options[0] | upcase }}</p>
      <select name="id" id="variant-id" class="product-page-select">
        {% for variant in product.variants %}
        <option class="product-page-select-option" data-compare-at-price="{{ variant.compare_at_price | money }}"
          data-price="{{ variant.price | money }}" value="{{ variant.id }}" data-title="{{ variant.title }}"
          data-color="{{ variant.option1 }}">
          {{ variant.title }}
        </option>
        {% endfor %}
      </select>
    </div>

    <p style="margin-bottom: .35rem; font-size: 1.25rem; ">QUANTITY</p>

    <div style="display: flex; flex-direction: row; margin-bottom:1rem;">
      <button class="quantity-button decrement" type="button">-</button>
      <div class="quantity-input"><span class="quantity-display">1</span></div>
      <input name="quantity" class="quantity-input-value" type="text" min="1" value="1" style="display: none;">
      <button class="quantity-button increment" type="button">+</button>
    </div>

    <p style="margin-bottom: .35rem; color: black; ">Product selected: x<span class="selected-amount">1</span> <span
        class="variant-title" style="color: var(--clr-red); font-weight: bold;"></span></p>

    <div style="display: flex; gap: 1rem; ">
      <button type="submit" style="height: 50px;">Add to cart</button>
      <button type="button" style="width: 100%; border: 1px solid black; margin-top: 15px;">Checkout</button>
    </div>

    {% endform %}
    </div>
    <div class="metafield-body-text section" style="width: 100%;"> {{ product.description }} </div>
  </div>
</div>






<style>
  .swiper {
    margin: 0;
    width: 100%;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide:hover {
    width: 25%;
    height: 100%;
    opacity: 1;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<script>

</script>



{% schema %}
{
"name": "Main product",
"class": "product__main-container",
"tag": "section",
"settings": [
{
"type": "image_picker",
"id": "banner-image",
"label": "Banner background"
}
],
"presets": [{ "name": "Default" }],
"blocks": [
{
"name": "Price",
"type": "price",
"settings": []
},
{
"name": "Description",
"type": "description",
"settings": []
},
{
"name": "Quantity",
"type": "quantity",
"settings": []
},
{
"name": "Variant_selector",
"type": "variant_selector",
"settings": []
},
{
"name" : "Related products",
"type" : "related_products",
"settings" : []
}
]
}
{% endschema %}