<div class="section-new-arrivals page-width">
    <div class="section-heading">
        {% if section.settings.collection_title != blank %}
            <h4>{{ section.settings.collection_title | strip_html }}</h4>
        {% endif %}

        {% if section.settings.collection_title == blank %}
            <h4 class="sectin">{{ collections['new-arrivals'].title | strip_html }}</h4>
        {% endif %}
    </div>

    <div class="new-arrivals-product-container">
      
      {% for product in collections['new-arrivals'].products %}
    
        <div class="featured-collection__single-product-container">
            <a href="{{ product.url }}">
              <div class="featured-collection__image-container">
                <img class="image" src="{{ product.featured_image | image_url }}" loading="lazy" width="100" height="100">
              </div>
            </a>
    
            <div class="featured-collection__info-container">
              <p class="product-title">{{ product.title | link_to: product.url | strip_html }}</p>
              <p class="product-price">{{ product.price | money }}</p>
            </div>
        </div>

      {% endfor %}

    </div>

   
</div>










{% schema %}
{
  "name": "New arrivals",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
        "type": "richtext",
        "id": "collection_title",
        "label": "Collection title"
    }
  ],
  "limit": 2,
  "class": "new-arrivals__main-container",
  "tag": "section",
  "presets": [{ "name": "New arrivals" }]
}
{% endschema %}
